---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=<FLICKR_API_KEY>&format=json&is_getty=true&method=flickr.photos.search&nojsoncallback=1&safe_search=1&sort=interestingness-desc&tags=snow,%20denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":100,"perpage":100,"total":"9992","photo":[{"id":"7612736864","owner":"33198406@N07","secret":"896fba0b08","server":"8148","farm":9,"title":"Denver
        Skyline Sunset","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5416468718","owner":"21207178@N07","secret":"7d0d4db6dc","server":"5258","farm":6,"title":"Please
        take a Seat under the Old Tree","ispublic":1,"isfriend":0,"isfamily":0},{"id":"5269214208","owner":"21207178@N07","secret":"eb506f503a","server":"5129","farm":6,"title":"Rocky
        Mountain Winter Reflection in Spring - Boulder, USA","ispublic":1,"isfriend":0,"isfamily":0},{"id":"11418009444","owner":"39278031@N00","secret":"b7eb12c939","server":"5494","farm":6,"title":"Lake
   [...]
