---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&limit=3&location=denver,co&open_at=1564412184
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4989'
      Ratelimit-Resettime:
      - '2019-08-01T00:00:00+00:00'
      X-Zipkin-Id:
      - efd70f1569c9098f
      X-Proxied:
      - 10-64-151-81-uswest1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "r6DwEwkJdbzp3DnwYKY1qA", "alias": "city-wok-denver-3",
        "name": "City Wok", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/hReR0RPnZRH1xZ0qzR6ijQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/city-wok-denver-3?adjust_creative=6IQ69FnHUmPOvoU64q9Xgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6IQ69FnHUmPOvoU64q9Xgw",
        "review_count": 302, "categories": [{"alias": "chinese", "title": "Chinese"}],
        "rating": 2.5, "coordinates": {"latitude": 39.8586550006182, "longitude":
        -104.673859479453}, "transactions": [], "price": "$$", "location": {"address1":
        "8900 Pe\u00f1a Blvd", "address2": "", "address3": "Terminal B", "city": "Denver",
        "zip_code": "80249", "country": "US", "state": "CO", "display_address": ["8900
        Pe\u00f1a Blvd", "Terminal B", "Denver, CO 80249"]}, "phone": "+13033426746",
        "display_phone": "(303) 342-6746", "distance": 28785.62259097057}, {"id":
        "JzpCU7BULZcGnw0dCdLL7Q", "alias": "panda-express-denver-7", "name": "Panda
        Express", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/UrInG8j8pJs9lAIwzylNeQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/panda-express-denver-7?adjust_creative=6IQ69FnHUmPOvoU64q9Xgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=6IQ69FnHUmPOvoU64q9Xgw",
        "review_count": 93, "categories": [{"alias": "hotdogs", "ti[...]
